.header{
    padding: 5px 20px;
    background: royalblue;
}

.title{
    color: white;
    text-decoration: none;
}

.login, .register{
    float: right;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}